<section class="mv">
  <div class="{{ section.id }}-article-cont">
    <figure>
      <img
        src="{{ section.settings.img | image_url }}"
        alt="{{ section.settings.alt }}"
        width="100%"
        height="auto"
        loading="lazy"
      >
    </figure>
  </div>
</section>

{% style %}
  .{{ section.id }}-article-cont {
    margin: 0 auto;
    padding: 0 14px;
    max-width: 1200px;
  }
{% endstyle %}

{% schema %}
  {
    "name": "ブログ記事：メインビジュアル",
    "settings": [
      {
        "type": "image_picker",
        "id": "img",
        "label": "メインビジュアル画像"
      },
      {
        "type": "textarea",
        "id": "alt",
        "label": "メインビジュアル代替テキスト"
      }
    ]
  }
{% endschema %}