<section class="step padding-bottom">
  <div class="content padding-LR">
    <div class="title">
      <h2>登録ステップ</h2>
    </div>
    <div class="col3">
      {% for block in section.blocks %}
        <figure>
          <img
            src="{{ block.settings.image | image_url }}"
            alt="{{ block.settings.alt }}"
            width="100%"
            height="auto"
            loading="lazy"
          >
        </figure>
      {% endfor %}
    </div>
  </div>
</section>

{% style %}
  /* common */
  .padding-bottom {
    padding-bottom: 100px;
  }
  .padding-LR {
    padding: 0 14px;
  }
  .content {
    margin: 0 auto;
    max-width: 1200px;
  }

  .col3 {
    display: grid;
    grid-template-columns:repeat(3, minmax(0, 1fr));
    gap: 20px;
  }

  @media screen and (max-width: 768px) {
    .padding-bottom {
      padding-bottom: 50px;
    }
    .col3 {
      grid-template-columns: 1fr;
    }
  }
{% endstyle %}

{% schema %}
  {
    "name": "ブログ記事：ステップ",
    "settings": [],
    "blocks": [
      {
        "type": "step",
        "name": "ステップ",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "ステップ画像"
          },
          {
            "type": "textarea",
            "id": "alt",
            "label": "ステップ画像代替テキスト"
          }
        ]
      }
    ]
  }
{% endschema %}