<section class="heading padding-bottom">
  <div class="content">
    <div class="heading-wrapper padding-LR">
      <figure>
        <img
          src="{{ section.settings.image | image_url }}"
          alt="{{ section.settings.alt }}"
          width="100%"
          height="auto"
          loading="lazy"
        >
      </figure>
      <div class="heading-textWrap">
        <h1>{{ section.settings.title }}</h1>
        <ul class="heading-listWrap">
          {% for block in section.blocks %}
            <li>{{ block.settings.list }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

{% style %}
  .padding-bottom {
    padding-bottom: 100px;
  }
  .padding-LR {
    padding: 0 14px;
  }
  .content {
    margin: 0 auto;
    max-width: 1200px;
  }
  h1 {
    padding-bottom: 20px;
  }
  .heading {
    margin: 20px 0;
  }
  .heading-wrapper {
    display: grid;
    grid-template-columns: 60% 1fr;
    align-items: center;
    gap: 20px;
  }
  .heading-textWrap h3 {
    padding-bottom: 20px;
  }
  .heading-listWrap li {
    font-size: 20px;
  }
  @media screen and (max-width: 768px) {
    .padding-bottom {
      padding-bottom: 50px;
    }
    .heading-wrapper {
      grid-template-columns: 1fr;
    }
  }
{% endstyle %}

{% schema %}
  {
    "name": "ブログ記事: 見出し",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "画像"
      },
      {
        "type": "textarea",
        "id": "alt",
        "label": "画像代替テキスト"
      },
      {
        "type": "textarea",
        "id": "title",
        "label": "タイトル"
      }
    ],
    "blocks": [
      {
        "type": "textarea",
        "name": "リスト",
        "settings": [
          {
            "type": "textarea",
            "id": "list",
            "label": "リスト"
          }
        ],
      }
    ]
  }
{% endschema %}